
html{
	font-family: Didot, serif;
	color: darkgray;
	font-size: 18px;
	font-weight: 100;
	line-height: 54px; 
	margin-left: 15%;
	margin-right: 15%;
	scroll-behavior: smooth;
}



/*HOME*/

/* Background image on the home page
*/


h1{
	color:white
}

.container-home{
background: url("./images/prot3.gif") black;
background-position: 90% 55%;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 50%;
}

/* Style the links inside the navigation bar */
#navbar {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: left;
}

.topnav a {
  float: left;
  color: gray;
  text-align: center;
  font-variant: small-caps;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

/* Add a color to the active/current link */
.topnav a.current {
  color: white;
}


.home{
	color: white; 
	font-variant: small-caps;
	float: left;
	margin-top: 25%;

}

.home-name {
	font-size: 50px;
	}

.home-authors{
	font-size: 25px; 
	
}

.home-image
{	margin-top: 5%;
	float: right;
	display: inline;
	height: 100%
}

/*DATASET*/
.iframe{
	margin-left: 180px;
}

.description{
	display: inline-block;
	margin-left: 10%
}
/*APPROACH*/


a{
	color: lightpink;
}
.container{
	background-color:black;
}


.approach-intro-list{
	color: darkgray;
	margin-left:5%
}

.approach-content, .training-list{
	margin-top:-3%;
	background-color: black;
	font-size: 20px;
	font-family: Didot, serif;
	cursor: pointer;

}


.approach-collapsible{
	  cursor: pointer;

}

.approach-approach-list-image{
	display:block;
	margin-left: 25%;
	margin-bottom: 2%;

}

.approach-approach{
	margin-top:5%
}

.approach-approach-header{
	font-size:22px

}
.approach-approach-list-item{
	margin-bottom:3%;
	line-height: 2;

}

.approach-approach-list, .approach-lproblem-list{
	margin-left:10%
}


.approach-intro-image1{
	display:block;
	margin-left: 7%;
}


.approach-intro-info{
}


#approach-overview, #approach-lproblem, #approach-gan, #approach-fb {
	margin-top:10%
}

.approach-lproblem-image{
	margin-left:10%;
	margin-bottom:1%;
	display:block;

}

.approach-fb-image{
	margin-left:15%;
	margin-bottom:5%;
	display:block;

}


.approach-gan-image{
	margin-left:25%;
	margin-bottom:5%;
	display:block;
}


/*TRAINING*/
.training-fb-header{
	margin-top:5%
}

.training-fb-info{
	color:darkgray;
}


.training-fb-header-image{
	width:80%;
	margin-left:5%;
	display:block;

}

.training-gan-header-image-biochem{
}

.training-gan-header{
	margin-top:5%
}

.training-gan-info{
	color:darkgray;
}


.training-gan-image-loss{
	margin-left:12%;
	display:block;

}

.training-gan-biochem{
	margin-left:-10%
}

.training-gan-loss{
	margin-left:5%;
	margin-bottom: -18%;
}






/*EXPERIMENTS*/


.collapsible {
font-family: Didot, serif;
font-variant: small-caps;
background-color:transparent;
font-size: 20px;
font-weight: 100;
  color: darkgray;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
	color:white;
}

.content {
	font-family: Didot, serif;
  display: none;
  overflow: hidden;
}


.exper-score{
	margin-left:30%
}

.exper-seq{
	background-color:white
}





/*CONNECT*/

.column {
  float: left;
  font-size: 12px;
  width: 50%;
}

.row:after {
  display: table;
  clear: both;
}

.connect-connect{
}

.connect-authors-github-logo, .connect-authors-github{
	margin-left:48%
}

.connect-connect-info{
	margin-left:5%
}

.connect-authors-github{
	margin-top:-3%
}


.connect-authors{
	display:inline;
}

.connect-authors-header{
	margin-top:5%
}


.connect-authors-right{
	float:none;
	margin-left: 60%;
	display:inline-block;
}

.connect-authors-left{
	margin-right: 60%;
	float: left;
	display: inline;
	vertical-align:top;

}

