
html{
	font-family: Didot, serif;
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 54px; 
	margin-left: 15%;
	margin-right: 15%;
	scroll-behavior: smooth;
}



/*HOME*/

/* Background image on the home page
*/
.container-home{
background: url("./images/prot3.gif") black;
background-position: 90% 55%;
background-attachment: fixed;
background-repeat: no-repeat;
background-size: 50%;
}

/* Style the links inside the navigation bar */
#navbar {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: left;
}

.topnav a {
  float: left;
  color: gray;
  text-align: center;
  font-variant: small-caps;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}


.home{
	color: white; 
	font-variant: small-caps;
	float: left;
	margin-top: 25%;

}

.home-name {
	font-size: 50px;
	}

.home-authors{
	font-size: 25px; 
	
}

.home-image
{	margin-top: 5%;
	float: right;
	display: inline;
	height: 100%
}

/*DATASET*/
.iframe{
	margin-left: 180px;
}

.description{
	display: inline-block;
	margin-left: 10%
}
/*APPROACH*/

.container{
	background-color:black;
}

.approach-intro-image{
	display: inline-block;
	float: center;
	margin-left: 10%
	width:2500px;
}

.approach-intro-info{
}

/*TRAINING*/

.training-gan-header{
	margin-top:5%
}

.training-gan-info{
	color:darkgray;
}


.training-gan-header-image-loss{
	margin-left:12%;
	display:block;

}

.training-gan-header-image-biochem{
}




/*EXPERIMENTS*/






/*CONNECT*/

.connect-connect{
}

.connect-authors-github-logo, .connect-authors-github{
	margin-left:48%
}

.connect-connect-info{
	margin-left:15%
}

.connect-authors-github{
	margin-top:-3%
}


.connect-authors{
	display:inline;
}

.connect-authors-header{
	margin-top:5%
}


.connect-authors-right{
	float:none;
	margin-left: 60%;
	display:inline-block;
}

.connect-authors-left{
	margin-right: 60%;
	float: left;
	display: inline;
	vertical-align:top;

}

